<html>
	<body>
		<h1>Welcome to <%=  node["company"] %>!</h1>
		<h2>Hello from <%= node["fqdn"]%>!</h2>
		<p>
			This server has <%= node['memory']['total'].to_i / 1024 %>MB memory.
		</P>
		<h1>Welcome to <%=  node["motd"]["company"] %>!</h1>
		<h2>We love <%=  @site_name %>!</h2>
		<%= node["ipaddress"] %>:<%= @port %>
		<p>
			This version is 0.4.0 of the cookbook!
			This change is simple but an effective way of demonstrating cookbook versions.
		</p>
	</body>
</html>